<div class="py-8 px-8 mx-auto">
    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl mb-8" href="#">
        Welcome
    </a>

    <p class="mt-8 mb-8">
        Welcome to our Book Discovery Platform, an innovative web application designed to enhance your reading experience. This project aims to empower book lovers by enabling them to effortlessly find, discover, and curate their personal reading lists. With a user-friendly interface built using Django, you can easily search for your favorite books and authors, browse by genre or popularity, and manage your own reading lists—all in one place.
        <br />
        <a class="text-gray-800 underline hover:text-gray-900" href="http://savoy.nordicmade.com/" target="_blank">Savoy Theme</a>, created by 
        <a class="text-gray-800 underline hover:text-gray-900" href="https://nordicmade.com/">https://nordicmade.com/</a> and 
        <a class="text-gray-800 underline hover:text-gray-900" href="https://www.metricdesign.no/" target="_blank">https://www.metricdesign.no/</a>.
    </p>

    <p class="mb-8">
        Join us on this literary journey and elevate your reading experience today! Our platform provides an intuitive and engaging environment for users to explore a vast collection of literary works. Administrators can manage the site’s content seamlessly through the Django admin interface, ensuring that the latest book information is always available.
    </p>
</div>
